{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    {% if jinstance %}
        <section id="showcase-inner" class="py-5 text-white">
            <div class="container">
              <div class="row text-center">
                <div class="col-md-12">
                  <h1 class="display-4">Application Form for Opening of {{jinstance.role}} Role</h1>
                  <h3>
                    Description: {{jinstance.job_description}}</h3>
                </div>
              </div>
            </div>
        </section>
        
          <!-- Listing -->
        <section id="listing" class="py-4">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <!-- Fields -->
                  <div class="row mb-5 fields">
                    <div class="col-md-12">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item text-secondary">
                          <i class="fas fa-money-bill-alt"></i> No. of openings:
                          <span class="float-right">{{jinstance.opening_count}}</span>
                        </li>
                        <li class="list-group-item text-secondary">
                          <i class="fas fa-bed"></i> location:
                          <span class="float-right">{{jinstance.location}}</span>
                        </li>
                        <li class="list-group-item text-secondary">
                          <i class="fas fa-bath"></i> Expected salary:
                          <span class="float-right">{{jinstance.expected_salary}}</span>
                        </li>
                        <li class="list-group-item text-secondary">
                            <i class="fas fa-bath"></i> Key Skills Required:
                            <span class="float-right">{{jinstance.keyskills}}</span>
                        </li>
                        <li class="list-group-item text-secondary">
                            <i class="fas fa-bath"></i> Emloyment Type:
                            <span class="float-right">{{jinstance.employment_type}}</span>
                        </li>
                        <li class="list-group-item text-secondary">
                            <i class="fas fa-bath"></i> Educational Qualifications:
                            <span class="float-right">{{jinstance.education}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                    <!-- Fields -->
                    <div class="row mb-5 fields">
                      <div class="col-md-12">
                        <ul class="list-group list-group-flush">
                            <form action="postapplicationform" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if user.is_authenticated %}
                                  <input type="hidden" name="user_id" value="{{user.id}}">
                                {% else %}
                                  <input type="hidden" name="user_id" value="0">
                                {% endif %}
                                {% for field in form.visible_fields %}
                                  <div class="form-group">
                                      {{ field.label_tag }}{% render_field field class="form-control" %}
                                  </div>
                                {% endfor %}
                                <button type="submit">Submit</button>
                            </form>
                        </ul>
                      </div>
                    </div>

              </div>
            </div>
        </section>
    {% endif %}

{% endblock %}

