{% extends 'base.html' %}
{% block content %}
</br>
    <h1 class="text-center mb-3">Current Openings:</h1>

    <section id="listings" class="py-5">
        <div class="container">
            <div class="row">
                {% if jobinstances %}
                    {% for job in jobinstances %}
                        <!-- Listing 1 -->
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card listing-preview">
                                <img class="card-img-top" src="assets/img/homes/home-1.jpg" alt="">
                                <div class="card-body">
                                    <div class="listing-heading text-center">
                                        <h4 class="text-primary">{{job.role}}</h4>
                                        <p>
                                            <i class="fas fa-map-marker text-secondary"></i> {{job.location}}
                                        </p>
                                    </div>
                                    <hr>
                                    <div class="row py-2 text-secondary">
                                        <div class="col-6">
                                            <i class="fas fa-th-large"></i> Exp: {{job.experience}} Y
                                        </div>
                                        <div class="col-6">
                                            <i class="fas fa-car"></i> Openings: {{job.opening_count}}
                                        </div>
                                    </div>
                                    <div class="row py-2 text-secondary">
                                        <div class="col-12">
                                            <i class="fas fa-bed"></i> Keyskills:{{job.keyskills}}
                                        </div>
                                    </div>
                                    <div class="row py-2 text-secondary">
                                        <div class="col-6">
                                            <i class="fas fa-bed"></i> Employment Type: {{job.employment_type}}
                                        </div>
                                        <div class="col-6">
                                            <i class="fas fa-bed"></i> Education: {{job.education}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row text-secondary pb-2">
                                        <div class="col-12">
                                            <i class="fas fa-clock"></i>Job Posted: 5 days ago
                                        </div>
                                    </div>
                                    <hr>
                                    <a href="{% url 'getapplicationform' form_id=job.id %}" class="btn btn-primary btn-block">APPLY HERE</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                
            </div>
        </div>
    </section>


{% endblock %}